.rhap_container {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.rhap_container * {
  outline: none;
}

button:focus {
  background-color: transparent;
}

.rhap_container svg {
  vertical-align: initial;
  color: #4527a0; /* deep-purple darken-3 */
}

.rhap_controls-section .rhap_additional-controls {
  display: none;
}

.rhap_controls-section .rhap_volume-controls {
  justify-content: flex-start;
}

.rhap_progress-section .rhap_time {
  color: inherit;
}

.rhap_progress-bar-show-download .rhap_download-progress,
.rhap_volume-bar-area .rhap_volume-bar {
  background-color: #b39ddb; /*deep-purple lighten-3 */
}

.rhap_progress-indicator, .rhap_volume-indicator, .rhap_progress-filled {
  background-color: #4527a0; /* deep-purple darken-3 */
}

.rhap_time {
  width: 45px;
}

/* @media (max-width: 500px) {
  .rhap_container {
    flex-direction: column;
    justify-content: space-between;
  }
} */